{
	"printWidth": 120,
	"tabWidth": 2,
	"useTabs": true,
	"semi": false,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"trailingComma": "none",
	"arrowParens": "avoid",
	"endOfLine": "lf",
	"singleAttributePerLine": true,
	"importOrder": [
		"^next(.*)$",
		"^react(.*)$",
		"<THIRD_PARTY_MODULES>",
		"^@/screens/(.*)$",
		"^@/layouts/(.*)$",
		"^@/providers/(.*)$",
		"^(.*).scss$",
		"^@/styles/(.*)$",
		"^@/images/(.*)$",
		"^@/data/(.*)$",
		"^@/constants/(.*)$",
		"^@/hooks/(.*)$",
		"^@/utils/(.*)$",
		"^@/stores/(.*)$",
		"^@/services/(.*)$",
		"^@/types/(.*)$",
		"^@/components/(.*)$",
		"^@/ui/(.*)$",
		"^@/shared/(.*)$",
		"^@/(.*)$",
		"^[../]",
		"^[./]"
	],
	"importOrderSeparation": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"]
}
