@import '@/styles/variables';

.footer {
	margin-top: var(--sp-xl);

	background: var(--sand);

	font-size: var(--fz-p3);
	font-weight: 500;

	.main {
		padding: 80px 0;

		.container {
			display: grid;
			grid-template-columns: repeat(3, auto);
			gap: clamp(30px, 5vw, 60px);

			@media (width <= $xl) {
				grid-template-columns: repeat(2, auto);
			}

			@media (width <= $md) {
				grid-template-columns: repeat(1, auto);
			}
		}
	}

	.section {
		display: flex;
		flex-direction: column;
		gap: clamp(10px, 1.5vw, 15px);

		.heading {
			font-size: var(--fz-p2);
			font-weight: 600;
			text-transform: uppercase;
		}

		.list {
			display: flex;
			flex-direction: column;
			gap: 5px;
		}
	}

	.about {
		font-size: var(--fz-p3);

		.slogan {
			max-width: 300px;
		}
	}

	.contacts {
		.link {
			display: flex;
			align-items: center;
			gap: 10px;
		}

		.linkToIcon {
			--size: 16px;
			width: var(--size);
			height: var(--size);
			margin-bottom: 3px;

			fill: var(--green-300);
		}
	}

	.copyright {
		padding: 10px;

		background: var(--green-200);

		color: var(--white);
		font-size: 15px;
		line-height: 1.2;
		text-align: center;

		.container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;
			gap: 10px 25px;
		}
	}
}
