@import '@/styles/variables';

.partners {
	padding: var(--sp-xl);

	background: var(--pink-200);

	.container {
		max-width: 1500px;
	}

	.heading {
		margin-bottom: var(--sp-lg);

		text-align: center;
	}

	.content {
		.list {
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			justify-content: center;
			align-items: center;
			gap: var(--sp-xl);

			@media (width <= $lg) {
				grid-template-columns: repeat(2, 1fr);
			}

			@media (width <= $sm) {
				grid-template-columns: 1fr;
			}

			.item {
				display: flex;
				justify-content: center;

				.image {
				}
			}
		}
	}
}
