@import '@/styles/variables';
@import '@/styles/mixins';

.team {
	padding: var(--sp-xl) 0;

	.heading {
		margin-bottom: var(--sp-md);

		text-align: center;
	}

	.content {
		.list {
			display: grid;
			grid-template-columns: repeat(4, 1fr);
			justify-content: center;
			gap: var(--sp-sm);

			@media (width <= $lg) {
				grid-template-columns: repeat(2, 1fr);
				max-width: 80%;
				margin: 0 auto;
			}

			@media (width <= $sm) {
				grid-template-columns: 1fr;
				max-width: 90%;
			}
		}

		.member {
			display: flex;
			flex-direction: column;

			.imageContainer {
				position: relative;

				width: 100%;
				height: 400px;
				margin-bottom: var(--sp-xxs);
				border-radius: 20px;
				overflow: hidden;
			}

			.zaglyshka {
				position: relative;

				width: 100%;
				height: 100%;

				background: var(--gray-50);

				&::after {
					content: 'Нет фото';

					position: absolute;
					top: 50%;
					left: 50%;

					font-size: var(--fz-p4);
					font-style: italic;

					translate: -50% -50%;
				}
			}

			.text {
				.name {
					@include brown-text-gradient;
				}

				.role {
					color: var(--gray-200);
				}
			}
		}
	}
}
