.button {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;

	background: var(--white);

	color: var(--green-300);
	font-size: var(--fz-p3);
	font-weight: 700;
	line-height: 1.2;
	text-transform: uppercase;

	&:disabled {
		background: #edeae0;

		color: #9fa6a0;
	}

	&.sand {
		background: var(--sand);
	}

	&.green {
		background: var(--green-200);
	}

	&.left {
		border-radius: 20px 0;
	}

	&.right {
		border-radius: 0 20px;
	}
}
