@import '@/styles/variables';

.orderForm {
	display: flex;
	flex-direction: column;
	gap: var(--sp-xs);

	color: var(--white);

	.field {
		width: 100%;
		min-width: 0;
		padding: 10px;
		border: 2px solid var(--white);
		border-radius: 10px;

		line-height: 1.2;

		transition: 200ms ease;

		&:focus {
			border: 2px solid var(--green-300);
		}

		&::placeholder {
			color: var(--white);
			line-height: 1.2;
		}

		&.error {
			border: 2px solid var(--error-color);

			&:focus {
				border: 2px solid var(--green-300);
			}
		}
	}

	.radioButton {
		display: flex;
		gap: 8px;

		.radioInput {
			accent-color: var(--green-100);
		}
	}

	.checkbox {
		display: flex;
		align-items: flex-start;
		gap: 10px;

		.checkboxInput {
			accent-color: var(--green-100);
		}
	}

	.fieldError {
		color: var(--error-color);
		font-size: 16px;
		font-weight: 500;
		line-height: 1.2;
	}

	.section {
		display: flex;
		flex-direction: column;
		gap: 20px;
		padding: 60px 40px;

		&:nth-child(odd) {
			border-radius: 0 40px;
		}

		&:nth-child(even) {
			border-radius: 40px 0;
		}

		.title {
			font-size: var(--fz-p3);
			font-weight: 700;
			line-height: 1.2;
			text-transform: uppercase;
		}

		.fields {
			display: flex;
			flex-direction: column;
			gap: 8px;

			.subFields {
				display: flex;
				gap: 8px;

				@media (width <= $sm) {
					flex-direction: column;
				}
			}
		}

		&.personalData {
			background: var(--green-200);
		}

		&.shippingMethod {
			background: var(--green-300);

			.fields {
				display: flex;
				flex-flow: row wrap;
				justify-content: space-between;
			}
		}

		&.address {
			background: var(--sand);

			color: var(--green-300);

			.field {
				border: 2px solid var(--green-300);

				&:focus {
					border: 2px solid var(--white);
				}

				&::placeholder {
					color: var(--green-300);
				}

				&.error {
					border: 2px solid var(--error-color);

					&:focus {
						border: 2px solid var(--white);
					}
				}
			}
		}

		&.agreement {
			background: var(--green-200);

			font-size: 15px;
			line-height: 1.2;
		}
	}

	.submitButton {
		transition: 200ms ease;

		&:disabled {
			background: #a49e96;

			color: #cfc8be;
		}
	}
}
